<h1>Contact Kyosei.ai</h1>

<%= simple_form_for @contact do |f| %>
  <%= f.input :name, required: true %>
  <%= f.input :email, required: true %>
  <%= f.input :message, as: :text %>
  <div class="hidden">
    <%= f.input :nickname, hint: "Leave this field blank" %>
  </div>
  <%= f.button :submit %>
<% end %>