<div class="row">
    <div class="col-md-4">
        <%= image_tag @teacher.teacher_img.url(:teacher_show), class: "teacher-show" %>
    </div>
    <div class="col-md-8">
        <h2><%= @teacher.name %></h2>
        <p><%= @teacher.experience %></p>
    </div>
</div>

<%= link_to "Back", teachers_path %>
<%= link_to "Edit", edit_teacher_path(@teacher) %>
<%= link_to "Delete", teacher_path(@teacher), method: :delete, data: {confirm: "Are you sure you want to delete this teacher?"} %>