<div class="row">
    <div class="col-md-4">
        <%= image_tag @teacher.teacher_img.url(:teacher_show), class: "teacher-show" %>
    </div>
    <div class="col-md-8">
        <h2><%= @teacher.name %></h2>
        <p><%= to_markdown @teacher.experience %></p>
        <h2>近期課程</h2>
        <% for course in @teacher.courses %>
            <p><%= link_to course.title, course_path(course) %></p>
        <% end %>
    </div>
</div>

<%= link_to "Back", teachers_path %>
<% if user_signed_in? %>
    <%= link_to "Edit", edit_teacher_path(@teacher) %>
    <%= link_to "Delete", teacher_path(@teacher), method: :delete, data: {confirm: "Are you sure you want to delete this teacher?"} %>
<% end %>