<h1>Edit Course</h1>

<%= simple_form_for @course, :html => { :multipart => true } do |f| %>
  <%= f.select :category_id, @categories %>
  <%= f.select :teacher_id, @teachers %>
  <%= f.file_field :course_img %>
  <%= f.input :title %>
  <%= f.input :description, :input_html => {:rows => 10} %>
  <%= f.input :length %>
  <%= f.input :register_url %>
  <%= f.button :submit %>
<% end %>